<div class="container border border-dark mt-2 mb-5">
  <div class="container mt-5 mb-5">
    <p class="h1 text-center">invoice</p>
  </div>
  <div class="container mb-5">
    <% if @kaigai_order.invoice.present? %>
    <% else %>
      <p class="h5 text-right mt-2">DATE：<%= Date.today.strftime("%Y年 %m月 %d日") %></p>
    <% end %>
    <p class="h5 text-right mt-2"><%= @kaigai_order.kaigai_order_name%></p>
  </div>
  <div class="container mb-3 d-flex">
    <div class="container border border-dark mt-3 mb-5 mr-3">
      <div class="container mt-2 flex">
        <p class="h3">shiper</p>
      </div>
      <div class="container mt-2">
        <p class="h3">123-4567</p>
      </div>
      <div class="container mt-2">
        <p class="h3">CHina.....</p>
      </div>
      <div class="container mt-2">
        <p class="h3">shanghai....</p>
      </div>
      <div class="container mt-2">
        <p class="h3">shanghai....</p>
      </div>
    </div>
    <div class="container border border-dark mt-3 mb-5">
      <div class="container mt-2 flex">
        <p class="h3">Consignee</p>
      </div>
      <div class="container mt-2">
      <%= @kaigai_order.kaigai_order_pay.address.postal_code %>
      </div>
      <div class="container mt-2">
      日本
      <%= @kaigai_order.kaigai_order_pay.address.prefecture.name %>
      </div>
      <div class="container mt-2">
      <%= @kaigai_order.kaigai_order_pay.address.city %>
      </div>
      <div class="container mt-2">
      <%= @kaigai_order.kaigai_order_pay.address.house_number %>
      </div>
      <div class="container mt-2">
      <%= @kaigai_order.kaigai_order_pay.address.building_name %>
      </div>
      <div class="container mt-2">
      <%= @kaigai_order.user.last_name %> <%= @kaigai_order.user.first_name %>
      </div>
      <div class="container mt-2">
      TEL:<%= @kaigai_order.kaigai_order_pay.address.phone_number %>
      </div>
    </div>
    </div>
  <div class="container mb-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>name(商品名)</th>
          <th>material(材質)</th>
          <th>quantity(数量)</th>
          <th>price(単価)JPY</th>
          <th>Total Amount(合計額)JPY</th>
          <th>修正</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order|%>
          <%= form_with model: @order_invoice, url: order_invoice_update_invoice_path(order.order_invoice.id), local: true do |fi| %>
            <tr>
              <td><%= fi.text_field :order_invoice_item_name, id:"invoice-name", value: order.order_invoice.order_invoice_item_name %></td>
              <td><%= fi.text_field :order_invoice_item_material, id:"invoice-material", value: order.order_invoice.order_invoice_item_material %></td>
              <td><%= fi.text_field :order_invoice_item_quantity, id:"invoice-quantity", value: order.order_invoice.order_invoice_item_quantity %></td>
              <td><%= fi.text_field :order_invoice_item_price, id:"invoice-price", value: order.order_invoice.order_invoice_item_price %></td>
              <td><%= fi.text_field :invoice_ttotal_price, id:"invoice-item-total-price", value: order.order_invoice.order_invoice_item_quantity * order.order_invoice.order_invoice_item_price %>JPY</td>
              <td><%= fi.submit "修正する", class: "btn btn-warning"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<%= form_with model: @invoice, url: kaigai_order_invoices_path(@kaigai_order.id), local: true do |f| %>
  <div class="container border border-dark mb-5 d-flex ">
    <div class="container mt-1 mb-1">
      Total Amount(合計額)JPY
    </div>
    <div class="container mt-1 mb-1">
      <td>
        <% sum = 0 %>
        <% @orders.each do |order|%>
          <% sum += order.order_invoice.order_invoice_item_price * order.order_invoice.order_invoice_item_quantity %>
        <% end%>
        <%= sum %> JPY
      </td>
    </div>
  </div>
  <%= f.text_field :invoice_name, value: "invoice-#{@kaigai_order.kaigai_order_name}",type: "hidden" %>
  <%= f.submit "登録する", class: "btn btn-warning"%>
  <% end %>
</div>